*~
.*
!.github/
!.clang-format
!.clang-tidy
!.gitlab-ci.yml
!.gitmodules

.qt/
build/
build-*/
aqtinstall.log
releases/
graphify-out/*
!graphify-out/graph.json
!graphify-out/graph.html
!graphify-out/GRAPH_REPORT.md
doc/develop/apidoc/
doc/python/example_snippets/output/
CMakeFiles
__pycache__
tests/opengl/